body{
    font-family: 'Sunflower', sans-serif;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.btns>* {
    flex: 1 1 80px;
}
.btn-dark{
    background-color: darkslategray;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.calculator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.input{
    position: absolute;
    bottom:12px;
    right: 0;
}
.screen {

}