body {
    font-family: 'Sunflower', sans-serif;
    background-color: ghostwhite;
}

.btns {

    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.btn-dark {
    background-color: darkslategray;
    color: white;
}

.btn-equal {
    text-align: center;
    background-color: goldenrod;
    width: 74.8vh;
    height: 6vh;
    font-size: 44px;
}

.btn-equal:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;

}

.calculator {

}


.screen {
    background-color: lavender;
    font-size: 50px;
    width: 74.8vh;
    text-align: center;
}

table {
    height: 50vh;
    width: 75vh;
    text-align: center;

}

.title {
    text-align: center;
}
table{
    table-layout: fixed;
}
tr {

    background-color: lavender;
}

tr:hover {
    cursor: pointer;
}